

<p> Sesion inicada por: <%= @current_player.user.username %> </p>

<ul class="hands">
	<% for player in @game.players_remaining %>
		<li>	<%= player.user.username %> </li>
		<% if player == @game.loser_of_round(@game.round) && @game.turns.last.showdown? %>
			<li> LOSER </li>
		<% end %> 
		<br />
		<% if @game.turns.last.showdown? %> 
			<% for die in player.hands.last.dice %>
				<li class='die'> <%= image_tag("Face#{die}.png") %> </li>
			<% end %>
		<% end %>
		<br />
	<% end %>
</ul>

<% if @game.turns.last.quantity %>
<p> <%= @game.turns.last.player.user.username %> Dijo <%= @game.turns.last.quantity %> <%= image_tag("Face#{@game.turns.last.face}.png") %> </p>
<% end %> 


<p> Tienes = 
	<ul class="hands"> 
		<% for die in @current_player.hands.last.dice %>
			<li class='die'> <%= image_tag("Face#{die}.png") %> </li>
		<% end %>
	</ul>
<p>

<% if @game.turns.last.showdown? %>
	<h3> SHOWDOWN </h3>
	<% if @current_player == @game.loser_of_round(@game.round) %>
		<%= render 'games/update_form' %>
	<% end %>
<% else %>
	<h3> Le toca el turno a: <%= @game.player_in_turn.user.username %> </h3>
	<% if @current_player == @game.player_in_turn %>
		<h3> Es tu turno </h3>
		<%= render 'turns/form' %>
	<% else %>
  	<meta http-equiv="refresh" content="3" />
	<% end %>
<% end %>




